<?xml version="1.0" ?>
<robot name="coconut"  xmlns:xacro="http://ros.org/wiki/xacro">
  
  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <!-- <origin xyz="-0.3195 -0.081 -0.085" rpy="0 0 0" />  -->
  </joint>

  <joint name="tracking_camera_joint" type="fixed">
    <origin xyz="-0.3195 -0.0081 0.0" rpy="0 0 3.14159265" /> 
    <parent link="t265_link"/>
    <child link="base_footprint" />
  </joint>

  <joint name="tracking_pose_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" /> 
    <parent link="t265_pose_frame"/>
    <child link="t265_link" />
  </joint>


  <!-- ##########################  JOINT  ########################## -->
  <joint name="base_lidar_joint" type="fixed">
    <origin xyz="0.22 0 0.35" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar_link" />
  </joint>
  <joint name="base_imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="imu_link" />
  </joint>
  <joint name="base_camera_joint" type="fixed">
    <origin xyz="0.317 0 0.25" rpy="0 0 0" /> 
    <parent link="base_link" />
    <child link="d415_link" />
  </joint>


  <joint name="wheel_l_joint" type="fixed">
    <origin xyz="0 0.231 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_l" />
    <axis xyz="1 0 0" />
  </joint>
  <joint name="wheel_r_joint" type="fixed">
    <origin xyz="0 -0.231 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wheel_r" />
    <axis xyz="1 0 0" />
  </joint>

  <!-- ultrasonic joint -->
  <joint name="ultrasonic_0_joint" type="fixed">
    <origin xyz="0.32 0.22 0" rpy="0 0 0.087" />
    <parent link="base_link" />
    <child link="ultrasonic_0" />
  </joint>
  <joint name="ultrasonic_1_joint" type="fixed">
    <origin xyz="0.32 0.15 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="ultrasonic_1" />
  </joint>
  <joint name="ultrasonic_2_joint" type="fixed">
    <origin xyz="0.32 -0.15 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="ultrasonic_2" />
  </joint>
  <joint name="ultrasonic_3_joint" type="fixed">
    <origin xyz="0.32 -0.22 0" rpy="0 0 -0.087" />
    <parent link="base_link" />
    <child link="ultrasonic_3" />
  </joint>

  <joint name="ultrasonic_4_joint" type="fixed">
    <origin xyz="-0.29 -0.23 0" rpy="0 0 3.57" />
    <parent link="base_link" />
    <child link="ultrasonic_4" />
  </joint>
  <joint name="ultrasonic_5_joint" type="fixed">
    <origin xyz="-0.31 -0.17 0" rpy="0 0 3.23" />
    <parent link="base_link" />
    <child link="ultrasonic_5" />
  </joint>
  <joint name="ultrasonic_6_joint" type="fixed">
    <origin xyz="-0.32 -0.08 0" rpy="0 0 3.14159265" />
    <parent link="base_link" />
    <child link="ultrasonic_6" />
  </joint>
  <joint name="ultrasonic_7_joint" type="fixed">
    <origin xyz="-0.32 0.08 0" rpy="0 0 3.14159265" />
    <parent link="base_link" />
    <child link="ultrasonic_7" />
  </joint>
  <joint name="ultrasonic_8_joint" type="fixed">
    <origin xyz="-0.31 0.17 0" rpy="0 0 3.05" />
    <parent link="base_link" />
    <child link="ultrasonic_8" />
  </joint>
  <joint name="ultrasonic_9_joint" type="fixed">
    <origin xyz="-0.29 0.23 0" rpy="0 0 2.70" />
    <parent link="base_link" />
    <child link="ultrasonic_9" />
  </joint>

  <!-- ##########################  JOINT ########################## -->


  <!-- ##########################  LINK  ########################## -->
  <!-- Base --> 
  <link name="base_link">
    <visual>
      <origin
        xyz="0 0 0.0375"
        rpy="0 0 1.570796" />
      <geometry>
        <mesh
          filename="package://coconut_description/meshes/coconut.stl" />
      </geometry>
      <material name="black_metal">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <!-- Left Wheel -->
  <link name="wheel_l">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.570796 0 3.14159" />
      <geometry>
        <cylinder length="0.041" radius="0.085"/>
      </geometry>
      <material name="black_metal">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <!-- Right Wheel -->
  <link name="wheel_r">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.570796 0 3.14159" />
      <geometry>
        <cylinder length="0.041" radius="0.085"/>
      </geometry>
      <material name="black_metal">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <link name="lidar_link"/>
  <link name="imu_link"/>


  <!-- DEPTH CAMERA -->
  <link
    name="d415_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </visual>
  </link>

  <!-- Tracking camera link -->
  <link
    name="t265_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </visual>
  </link>

  <link
    name="t265_pose_frame">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
    </visual>
  </link>

  <!-- ultrasonic sensor link (10 in total, index start with 0, see picture in coconut_sensor/scripts/ultrasonic_subscriber.py) -->
  <link
    name="ultrasonic_0">
  </link>

  <link
    name="ultrasonic_1">
  </link>

  <link
    name="ultrasonic_2">
  </link>

  <link
    name="ultrasonic_3">
  </link>

  <link
    name="ultrasonic_4">
  </link>

  <link
    name="ultrasonic_5">
  </link>

  <link
    name="ultrasonic_6">
  </link>

  <link
    name="ultrasonic_7">
  </link>

  <link
    name="ultrasonic_8">
  </link>

  <link
    name="ultrasonic_9">
  </link>


  <!-- ##########################  LINK  ########################## -->
  

  

</robot>
