<?xml version="1.0"?>

<!--
    run this to use robot navigation. 
	use only odom from t265 camera to localize.
	will run bringup.launch, map_server, cartographer, and teb local planner.
-->

<launch>
	
	<arg name="map_name" default="coxsys"/>
	
	<!-- name of localizaton map and navigation map -->
	<arg name="loc_map_name" default="$(arg map_name)"/>
	<arg name="nav_map_name" default="$(arg map_name)_nav"/>
    
	<include file="$(find coconut_bringup)/launch/coconut_bringup.launch" />

	<node pkg="coconut_localization" type="map_odom_broadcaster.py" name="map_odom_broadcaster"/>
    
	<node pkg="map_server" type="map_server" name="map_static_publisher" args="$(find coconut_bringup)/map/$(arg nav_map_name).yaml" ns="map_static"/>
		
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
  	  	<rosparam file="$(find coconut_navigation)/teb_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find coconut_navigation)/teb_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find coconut_navigation)/teb_config/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find coconut_navigation)/teb_config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find coconut_navigation)/teb_config/teb_local_planner_params.yaml" command="load" />
		<rosparam file="$(find coconut_navigation)/teb_config/move_base_params.yaml" command="load" />
		
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="GlobalPlanner/orientation_mode" value="2" />
		<param name="GlobalPlanner/orientation_window_size" value="10" />
		<param name="global_costmap/resolution" value="0.05" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<remap from="cmd_vel" to="nav_vel"/>

	</node>

</launch>
