<?xml version="1.0"?>
<launch>

    <param name="robot_description" 
    command="$(find xacro)/xacro --inorder $(find coconut_description)/urdf/coconut_phase_one.urdf.xacro" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
	</node>


</launch>